<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Entrar en el seminario</h3>
                </div>
                <div class="card-body">
                    <form action="/registro/{{id}}" method="POST">
                    <div class="form-group">
                        Contraseña del seminario: <input type="password" name="pass" placeholder="Contraseña" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">Entrar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a href="/registro">¿Nuevo usuario? Cree una cuenta nueva aquí</a>
</div>