<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Esta presentando {{usuario.DS_USUARIO}}
            </div>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div id="countdown"></div>
            <button id="parar_btn" class="btn btn-success btn-block" onclick="Parar()">Iniciar</button>
            <button class="btn btn-success btn-block"  onclick="Enviar()">Enviar</button>
        </div>
    </div>
</div>

<script>
    let end = new Date('01/01/2100 00:00:05' );
    let now = new Date('01/01/2100 00:00:00');

    let _second = 1000;
    let _minute = _second * 60;
    let _hour = _minute * 60;
    let _day = _hour * 24;

    let timer;
    let iniciar = false;
    let distance = 0;

    function showRemaining() {
        if(iniciar){
            now.setTime(now.getTime() + _second)
            let distance = end - now;
            if (distance < 0) {
                clearInterval(timer);
                return;
            }
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

            document.getElementById('countdown').innerHTML ='';
            if(seconds < 10)
                document.getElementById('countdown').innerHTML = '0' + minutes + '::0' + seconds;
            else
                document.getElementById('countdown').innerHTML = '0' + minutes + '::' + seconds;
        }
    }

    timer = setInterval(showRemaining, 1000);

    function Parar(){
        iniciar = !iniciar;
        if(!iniciar){
            document.getElementById('parar_btn').innerHTML = "Iniciar";
        }else{
            document.getElementById('parar_btn').innerHTML = "Parar";
        }
    }

    function Enviar(){
        if(!iniciar){
            const form = document.createElement('form');
            form.method = "POST";
            form.action = "/seminario/usuarios/ponencia/"+ {{ID}};
            let puntuacion = Math.floor(((end - now) % _hour) / _minute) + (Math.floor(((end - now) % _minute) / _second) * 0.05)
            const field = document.createElement('input');
            field.type = 'hidden';
            field.name = 'puntuacion';
            field.value = puntuacion;

            form.appendChild(field);
            document.body.appendChild(form);
            form.submit();
        }  
    }
</script>