<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Esta presentando {{usuario.DS_NOMBRE}}
            </div>
        </div>
    </div>
</div>
<div class="container_ponencia">
            <div id="countdown" class="countdown"></div>
</div>
<div class="botones_ponencia">
        <button id="parar_btn" class="btn btn-success btn-block" onclick="Parar()">Iniciar</button>
        <button id="enviar_btn" class="btn btn-success btn-block"  onclick="Enviar()">Enviar</button>
</div>

<script>
    let _second = 1000;
    let _minute = _second * 60;
    let _hour = _minute * 60;
    let _day = _hour * 24;

    let now = new Date('01/01/2100 00:00:00' );
    let end = now.getTime() + (_second * 60 );//* {{tiempo}});

    let timer;
    let iniciar = false;
    let distance = 0;
    let puntuacion = 0

    function showRemaining() {
        if(iniciar){
            now.setTime(now.getTime() + _second)
            let distance = end - now;
            if (distance < 0) {
                if(puntuacion > 0){
                    puntuacion -= 0.01;
                }else{
                    clearInterval(timer);
                }
                //return;
            }else{
                var minutes = Math.floor((distance % _hour) / _minute);
                var seconds = Math.floor((distance % _minute) / _second);
                puntuacion += 0.01;
                document.getElementById('countdown').innerHTML ='';
                if(seconds < 10)
                    document.getElementById('countdown').innerHTML = '0' + minutes + '::0' + seconds;
                else
                    document.getElementById('countdown').innerHTML = '0' + minutes + '::' + seconds;
            }
        }
    }

    timer = setInterval(showRemaining, 1000);

    function Parar(){
        iniciar = !iniciar;
        if(!iniciar){
            document.getElementById('parar_btn').innerHTML = "Iniciar";
            document.getElementById('enviar_btn').className = "btn btn-success btn-block";
        }else{
            document.getElementById('parar_btn').innerHTML = "Parar";
            document.getElementById('enviar_btn').className = "btn btn-danger btn-block";
        }
    }

    function Enviar(){
        if(!iniciar){
            const form = document.createElement('form');
            form.method = "POST";
            form.action = "/seminario/usuarios/ponencia/"+ {{ID}};
            const field = document.createElement('input');
            field.type = 'hidden';
            field.name = 'puntuacion';
            field.value = Math.floor(puntuacion * 1.5);

            form.appendChild(field);
            document.body.appendChild(form);
            form.submit();
        }  
    }
</script>