<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/menu" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="title" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="url" class="form-control" name="url" placeholder="url">
                        </div>
                        <div class="form-group">
                            <testarea type="description" class="form-control" rows="2"></testarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-successs btn-block">
                                Save
                            </button>
                        </div>             
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>